/* O switch - a */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
}

:root {
  --grayColor: #cccccc;
  --whiteColor: #ffffff;
  --blueColor: #2196f3;
  --greenColor: #006b54;
  --redColor: #dd2525;
}

body {
  background-color: var(--grayColor);

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  padding: .7rem;
}

/* --------- HEADER PRINCIPAL TELA 1 CSS ATIVAR CUPONS ------- */
#headerPrincipal {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

h1 {
  font-size: 1.5rem;
}

#headerPrincipal p {
  margin: 1rem 0;

  text-align: center;
}

#headerPrincipal form fieldset {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* --------- -------------------------------- */

/* --------- CSS DOS BOTOES SWITCHS ------- */
.labelCheckbox {
  margin-left: .5rem;
  font-weight: bold;
}

.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 25px;
}

/* Hide default HTML checkbox */
.switch input {
  display: none;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--grayColor);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: var(--greenColor);
}

input:checked+.slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* --------- -------------------------------- */

/* --------- CSS DAS BORDAS E CONTAINERS COMUM ------- */
.border {
  border: solid var(--grayColor) 1px;
  border-radius: 5px;
}

.container {
  background-color: var(--whiteColor);
  padding: 1rem;

  margin-bottom: 1rem;
}
/* --------- -------------------------------- */

/* --------- CSS DOS TITULOS SECUNDARIOS ------- */
.h2Secundarios {
  font-size: 1.5rem;
  text-align: center;

  margin-bottom: 1rem;
}
/* --------- -------------------------------- */

/* --------- CSS DO FORMULARIO ------- */
#articleForm {
  display: flex;
  flex-direction: column;
}

.radio-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 1rem;
}

.radio-buttons input[type="radio"] {
  display: none;
}

.radio-buttons label {
  position: relative;
  padding: 10px 10px;

  cursor: pointer;

  font-weight: bold;

  border: 2px solid var(--greenColor);
  border-radius: 5px;

  color: var(--greenColor);

  display: flex;
  align-items: center;
  justify-content: center;
  width: 11rem;
}

.radio-buttons label:before {
  content: "";

  margin-right: 20px;

  width: 10px;
  height: 10px;

  border-radius: 50%;
  border: 3px solid var(--greenColor);
}

.radio-buttons input[type="radio"]:checked+label {
  background: var(--greenColor);
  color: var(--whiteColor);
}

.radio-buttons input[type="radio"]:checked+label:before {
  height: 10px;
  width: 10px;
  border: 5px solid var(--whiteColor);
  background-color: var(--greenColor);
}

.cupomExplicacao {
  background-color: var(--blueColor);
  color: var(--whiteColor);
  padding: 1rem;

  max-width: 600px;

  align-self: center;
}

#formCadastroCupom h3 {
  font-weight: bold;
  font-size: 1.3rem;
  color: var(--blueColor);

  align-self: center;
  margin-top: 1rem;
}

#formCadastroCupom {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 20px auto;
  gap: 1rem;
}

/* Estilos dos inputs e selects */
input[type="text"],
input[type="number"],
input[type="date"],
select {
  margin-bottom: 10px;
  padding: 10px;
  border: 2px solid var(--grayColor);
  border-radius: 4px;
  font-size: 16px;

  max-width: 290px;
}

input[type="number"] {
  width: 145px;
}

input[type="date"] {
  width: 145px;
  margin-left: 1.35rem;
}

/* Estilos dos labels */
label {
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
}
/* --------- -------------------------------- */

/* --------- CSS PARA MANTER A RESPONSIVIDADE EM TELAS DIFERENTES NO FORMULARIO ------- */
#divContainerCodigoSelectCupom {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#divCodigoSelecPorcentagemDinheiro {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#regrasContainer {
  display: flex;
  flex-direction: column;

  gap: 1rem;
}

#divContainerCodigoAndSelectCupom {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.divCamposDataAndValorLimite {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.errorP {
  color: var(--redColor);
  display: none;
}

.divSwitchs {
  display: flex;
  flex-direction: row;
  align-self: center;
}

.divCamposForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Estilos do botão de submit */
#botaoCadastrar {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: var(--greenColor);
  color: var(--whiteColor);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;

  max-width: 180px;

  align-self: center;
  text-align: center;
}

#botaoCadastrar:hover {
  filter: brightness(120%);
}

#tableArticle {
  overflow-x: auto;
}
/* --------- -------------------------------- */

/* --------- CSS DO GRAFICO ------- */
#articleGrafic {
  display: flex;
  flex-direction: column;
}

.chart-container {
  margin: 0 auto;
  width: 80%;
}

#bar-chart {
  width: 90%;
  height: 90%;
}
/* --------- -------------------------------- */

/* --------- CSS DA TABELA DE CUPONS ------- */
table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}
/* --------- -------------------------------- */

/* MEDIAS PARA RESPONSIVIDADE */
@media (min-width: 425px) {
  .radio-buttons {
    flex-direction: row;
    justify-content: center;
    gap: 2rem;

    margin-bottom: 1rem;
  }

  .divCamposDataAndValorLimite {
    display: flex;
    flex-direction: row;
    gap: 3rem;

    margin-bottom: 1rem;
  }

  input[type="date"] {
    margin-left: 0;
  }

  input[type="text"],
  input[type="number"],
  input[type="date"],
  select {
    margin-bottom: 0;
  }
}

@media (min-width: 525px) {
  #divContainerCodigoAndSelectCupom {
    flex-direction: row;
  }
}

@media (min-width: 900px) {
  #formCadastroCupom {
    flex-direction: row;

    gap: 8rem;
  }

  #formCadastroCupom #h3Informacoes {
    margin-top: -1rem;
  }

  #divCodigoSelecPorcentagemDinheiro {
    display: flex;
    flex-direction: column;

    gap: 2rem;
  }

  #divContainerCodigoAndSelectCupom {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  #regrasContainer {
    display: flex;
    flex-direction: column;

    gap: 2rem;
  }

  .divCamposDataAndValorLimite {
    margin-bottom: 0;
    margin-top: 1rem;
  }
}

@media (min-width: 1300px) {
  #formCadastroCupom {
    gap: 1rem;
  }
  
  .divCamposDataAndValorLimite {
    gap: 1rem;
  }


  #sectionFormAndGrafic {
    display: flex;
    flex-direction: row;

    gap: 2rem;
  }

  #articleForm {
    order: 1;
    width: 50vw;
  }

  #articleGrafic {
    order: 0;
    width: 50vw;
  }
}